{{ block title }}
    {{ if player.stage == 2 }}
       Stage 2 
    {{ else }}
        Stage 3
    {{ endif }}
{{ endblock }}
{{ block content }}

<div class="container box">



<!----- ROUND 2 -->

<p>In Task 2 the Financial Advisor has to choose between two options.</p>
<p>Now you can decide either to accept or reject the financial advisor offer.</p>

{{ if player.round_number == 2 }}

{{ if advisor_choice == 'HighRisk' }}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Advisor's choice</th>
            <th>Offered Product</th>
            <th>Financial Advisor's Fee</th>
           
        </tr>
    </thead>
    <tbody>
        <tr><td><input class="form-check-input" type="radio"  id="flexRadioDefault1" checked disabled></td>
            <td>5/10 of ECU 1500; 5/10 of ECU 500</td>
            <td></td>
  
        </tr>
        <tr><td><input class="form-check-input" type="radio"  id="flexRadioDefault2" disabled></td>
            <td>7/10 of ECU 1100; 3/10 of ECU 900</td>
            <td></td>
        </tr>
    </tbody>
   
</table>

{{ else }}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Advisor's choice</th>
            <th>Offered Product</th>
            <th>Financial Advisor's Fee</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault1" disabled></td>
            <td>5/10 of ECU 1500; 5/10 of ECU 500</td>
            <td>5% management fee + 10% performance fee</td>

        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault2" checked disabled></td>
            <td>7/10 of ECU 1100; 3/10 of ECU 900</td>
            <td>5% management fee + 10% performance fee</td>
        </tr>
    </tbody>

</table>

{{ endif }}

{{ endif }}

<!--- End Round 2 -->

<!----- ROUND 4 -->
{{ if player.round_number == 4 }}

{{ if advisor_choice == 'HighRisk' }}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Advisor's choice</th>
            <th>Offered Product</th>
            <th>Financial Advisor's Fee</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault1" checked disabled></td>
            <td>5/10 of ECU 1500; 5/10 of ECU 500</td>
            <td>5% management fee + 10% performance fee</td>

        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault2" disabled></td>
            <td>7/10 of ECU 1100; 3/10 of ECU 900</td>
            <td>5% management fee + 10% performance fee</td>
        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault3" disabled>
            </td>
            <td>Best fitting lottery for the client</td>
            <td>7.5% fixed fee</td>
        </tr>
    </tbody>

</table>

{{ endif }}

{{ if advisor_choice == 'LowRisk' }}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Advisor's choice</th>
            <th>Offered Product</th>
            <th>Financial Advisor's Fee</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault1" disabled></td>
            <td>5/10 of ECU 1500; 5/10 of ECU 500</td>
            <td>5% management fee + 10% performance fee</td>

        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault2" checked disabled></td>
            <td>7/10 of ECU 1100; 3/10 of ECU 900</td>
            <td>5% management fee + 10% performance fee</td>
        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault3" disabled>
            </td>
            <td>Best fitting lottery for the client</td>
            <td>7.5% fixed fee</td>
        </tr>
    </tbody>

</table>

{{ endif }}

{{ if advisor_choice == 'BestFitting' }}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Advisor's choice</th>
            <th>Offered Product</th>
            <th>Financial Advisor's Fee</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault1" disabled></td>
            <td>5/10 of ECU 1500; 5/10 of ECU 500</td>
            <td>5% management fee + 10% performance fee</td>

        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault2" disabled></td>
            <td>7/10 of ECU 1100; 3/10 of ECU 900</td>
            <td>5% management fee + 10% performance fee</td>
        </tr>
        <tr>
            <td><input class="form-check-input" type="radio" id="flexRadioDefault3" checked disabled>
            </td>
            <td>Best fitting lottery for the client</td>
            <td>7.5% fixed fee</td>
        </tr>
    </tbody>

</table>

{{ endif }}

{{ endif }}

<!-- END ROUND 4 --> 

<p>Your financial advisor selected the lottery identified by the selected radio button</p> 

{{ formfield group.investment_accept label="Please select one of this two options" }}

<i>When done, please click on the button “Continue”.</i>


</div>
<br>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <button name="btn_submit" value="True" class="btn btn-primary btn-large">
            <span style="font-size:14pt">Continue</span>
        </button>
    </div>
</div>
{{ endblock }}

{{ block styles }}
<link href="{{ static 'G4/mystyle.css' }}" rel="stylesheet">
{{ endblock }}
